* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn{
  background-color: rgb(0, 117, 219);
  color: rgb(255, 255, 255);
}
.btn:hover{
  transform: scale(1.04);
  background-color: rgba(0, 117, 219, 0.82);
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
 
header {
  padding: 4px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

nav h1 {
  font-weight: bold;
}

nav div {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
}
nav div a {
  padding: 4px 8px;
}
.buttons {
  display: flex;
  gap: 12px;
}

button {
  padding: 8px 12px;
  border: 2px solid rgb(246, 37, 0);
  border-radius: 8px;
  font-weight: bold;
}

#home {
  padding: 0px 60px 24px 60px;
  display: flex;
  gap: 10px;
  min-height: 92vh;
  background-color: rgba(0, 255, 234, 0.281);
}

.left {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.left h1 {
  font-size: 56px;
  font-weight: bold;
}
.left p {
  font-size: 17px;
  padding-right: 32px;
}
.hero-btn {
  width: 150px;
  margin-top: 12px;
}
.right {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  width: 110%;
  height: auto;
}
#feature{
    padding: 20px 40px;
}
.feature-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.cards .card{
    flex-basis: 30%;
    text-align: center;
}
.card h2{
  padding-top: 20px;
  padding-bottom: 8px;
}
.icon{
    width: 48px;
    height: 48px;
}

@media (max-width: 1200px) {
  .logo {
    font-size: 32px;
  }
  .nav div {
    display: none;
  }
  .left h1 {
    font-size: 32px;
  }
  .left p {
    font-size: 15px;
  }
  .hero-btn {
    width: 120px;
  }
  .hero-img {
    width: 140%;
  }
  nav div {
    gap: 0px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 28px;
  }
  nav div {
    display: none;
  }
  .left h1 {
    font-size: 26px;
  }
  .right .hero-img {
    width: 185%;
  }
  .feature-title{
    font-size: 32px;
  }
  .cards .card{
    flex-basis: 48%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 4px 20px;
  }
  .logo {
    font-size: 18px;
  }
  .buttons {
    gap: 8px;
  }
  #home {
    flex-direction: column;
    padding-top: 32px;
    padding-inline: 20px;
    gap: 32px;
  }
  .cards{
    flex-direction: column;
  }
  .cards .card{
    flex-basis: 98%;
  }
}
